# Node
node_modules/
frontend/node_modules/
express-backend/node_modules/

# Logs
*.log
frontend/frontend.log
express-backend/express.log
express-backend/express-server.log

# Build artifacts
dist/
build/

# OS / editor
.DS_Store
.env
.env.*.local

# App-specific (optional if you don't want large assets in repo)
express-backend/media/
